//conact page

doctype html
html
  include head
  body
    nav
      include navbar


    section
      .container-fluid
        .row.about-bg
          .col-md-6
          .col-sm-12.col-md-12.col-lg-6.about-bg-layer
            .about-content-box
              .about-heading.text-center.heading-primary
                h1(style="border-bottom: 1px solid #f6e4e2; font-size: 35px;") CONTACT US

              .row(align='center')

                .card.col-xl-6.contact-card
                  .container.heading-primary-sub(style="color: white")
                    h2.heading-primary-main Min Gee
                    p.title Programmer/Designer
                    p Pursing Bachelor in Design at UniMelb
                    p.email suh@student.unimelb.edu.au

                .card.col-xl-6.contact-card
                  .container.heading-primary-sub(style="color: white")
                    h2.heading-primary-main Violet
                    p.title Programmer/Designer
                    p Pursing Bachelor in IT at UniMelb
                    p.email zlee4@student.unimelb.edu.au

                .card.col-xl-6.contact-card
                  .container.heading-primary-sub(style="color: white")
                    h2.heading-primary-main Vaidehi
                    p.title Programmer/Designer
                    p Pursuing Masters in IT at UniMelb
                    p.email vaidehip@student.unimelb.edu.au

                .card.col-xl-6.contact-card
                  .container.heading-primary-sub(style="color: white")
                    h2.heading-primary-main Arass
                    p.title Programmer/Designer
                    p Pursuing Masters in IT at UniMelb
                    p.email anithiyarajp@student.unimelb.edu.au



      include footer

