//template for homepage header

doctype html
html
    include head

    body
        nav
            include navbar

        head.header
            header.header
                .text-box
                    h1.heading-primary
                        span.heading-primary-main Volunteer Across Victoria
                        span.heading-primary-sub A platform that connects people and opportunities
                    a.btn.btn-pink.btn-animated(href='/signup') Sign up


block recentEvent





