// error form to display in case of unexpected error

doctype html
html
    include head

    body
        nav
            include navbar

    h1.mt-4 UNEXPECTED ERROR OCCURED
    p.lead.mb-3 Please Go Back

    include footer