//template for footer, is included at bottom of every other rendered template

footer.page-footer.font-small.blue


    // Footer Links
    .container-fluid.text-right

        // Grid row
        .row
            // Grid column
            .col-md-12.mt-md-0.mt-3

                a.navbar-brand(href='/')
                    img(src='/images/logotran.png', alt='LOGO')
                h5.text-uppercase(style="display: inline-block;") Voluntia
                p Powered by Internet Architects
            // Grid column
            hr.clearfix.w-100.d-md-none.pb-3



