//sign-up option template, where user can select the type of account they wish to create

doctype html
html
    include head

    body
        nav
            include  navbar

    .signup-div

            .card-group.sign-option(style="padding-top: 5rem")
                .row
                    .card.col-md-6
                        img.card-img-top.volimage(src='../images/volunteer.png', alt='Volunteer')
                        .card-body
                            h5.card-title.text-center Volunteer
                            p.card-text.text-center.heading-primary-sub
                                | Sign up as volunteer to view list of all events and make a booking.
                                | Start volunteering Today!
                        .card-footer
                            a.btn.btn-pink.btn-block(href='/volunteer/signup') SIGNUP as Volunteer
                    .card.col-md-6
                        img.card-img-top.orgimage(src='../images/organ.png', alt='Organization')
                        .card-body
                            h5.card-title.text-center Organization
                            p.card-text.text-center.heading-primary-sub
                                | Sign up as organization to manage events (add,edit,delete) and confirm booking made by Volunteers.

                        .card-footer
                            a.btn.btn-pink.btn-block(href='/organization/signup') SIGNUP as Organization

    include footer
